
.page__half-screen {
  display: none;
}

.page__half-screen_show {
  display: block; 
  position: fixed;
}

.page__overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 2;
  cursor: pointer;
}

.page__overlay_show {
  display: block;
}


.half__header-menu {
  margin-top: 78px;
  margin-left: 24px;
}

.half__header-reg {
  margin-left: 24px;
}

.half__header-menu li, .half__header-reg li {
  list-style: none;
  margin-top: 14px;
}